# This is a basic workflow to help you get started with Actions

name: Update

# Controls when the workflow will run
on:
#   push:
#     branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a sigle job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Git init
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git clean -f  # Remove untrack file

      - name: Update plugins
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python run.py
